/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:792px; height:612px; background: #fff !important; }
.paper-vertical { width:792px; height:100%; }
.paper-horizontal { width:13190px; height:624px; }
@media all and (max-height:612px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:792px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
#share-wrap {
    left:0;
    position:fixed;
    top: 25%;
    background-color: rgba(0,0,0,.65);
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.4);
    z-index:9999;
    -webkit-animation:share-fadein 1s ease 2s;
    animation:share-fadein 1s ease 2s;
}
#share-wrap.align-right { right:0; left:auto; }
#share-wrap.align-bottom {left:auto; right:20px; bottom:0; top:auto; padding-bottom:12px; }
#share-wrap.align-top {left:auto; right:40px; top:0; padding-top:8px; }
#share-wrap > a > span { display: none; }
#share-wrap > a {
	display:block;
	width:30px;
	height:30px;
	border-radius:50%;
	background:url(../images/sharebtns.png) no-repeat;
	background-size: 392px 30px;
	-webkit-background-size: 392px 30px;
	-moz-background-size: 392px 30px;
	margin:12px;
	padding:3px;
}
#share-wrap.align-top > a, #share-wrap.align-bottom > a { display:inline-block; }
#share-wrap > a#sb-fb { background-color:#3b5998; background-position:-27px 50%; }
#share-wrap > a#sb-tw { background-color:#00aced; background-position: -265px 50%; }
#share-wrap > a#sb-li { background-color:#007fb1; background-position: -116px 50%; }
#share-wrap > a:hover { box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5); }
@keyframes share-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes share-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#item23897 {
	width:792px !important;
	height:612px !important;
	background:#f1f1f1;
}

#item231 {
	width:708px !important;
	height:41px !important;
	left:42px !important;
	top:529px !important;
	background:#fff;
}

#item244 {
	width:236px !important;
	left:66px !important;
	top:546px !important;
	min-height:15px !important;
}

#item23948 {
	width:284px !important;
	left:442px !important;
	top:546px !important;
	min-height:15px !important;
}

#item242 {
	width:708px !important;
	height:398px !important;
	left:42px !important;
	top:107px !important;
	background:#cdcecd;
}

#item233 {
	width:198px !important;
	height:19px !important;
	left:297px !important;
	top:48px !important;
}

#item234903 {
	width:1920px !important;
	height:1080px !important;
	background:#f1f1f1;
}

#item234904 {
	width:1776px !important;
	height:72px !important;
	left:72px !important;
	top:936px !important;
	background:#fff;
}

#item234905 {
	width:416px !important;
	left:115px !important;
	top:966px !important;
	min-height:26px !important;
}

#item234931 {
	width:502px !important;
	left:1303px !important;
	top:966px !important;
	min-height:26px !important;
}

#item234956 {
	width:1776px !important;
	height:744px !important;
	left:72px !important;
	top:148px !important;
	background:#cdcecd;
}

#item234957 {
	width:350px !important;
	height:33px !important;
	left:786px !important;
	top:72px !important;
}

#item242754 {
	width:375px !important;
	height:576px !important;
	background:#f1f1f1;
}

#item242755 {
	width:1776px !important;
	height:72px !important;
	left:-701px !important;
	top:684px !important;
	background:#fff;
}

#item242756 {
	width:277px !important;
	left:-488px !important;
	top:359px !important;
	min-height:26px !important;
}

#item242781 {
	width:502px !important;
	left:-63px !important;
	top:509px !important;
	min-height:26px !important;
}

#item242815 {
	width:375px !important;
	height:360px !important;
	top:66px !important;
	background:#cdcecd;
}

#item249949 {
	width:198px !important;
	height:19px !important;
	left:89px !important;
	top:24px !important;
}

#item127439 {
	width:102px !important;
	height:26px !important;
	left:649px !important;
	top:59px !important;
	background:#cccccc;
}

#item23899 {
	width:792px !important;
	height:612px !important;
	background:#f1f1f1;
}

#item74524 {
	width:708px !important;
	height:41px !important;
	left:42px !important;
	top:529px !important;
	background:#fff;
}

#item262849 {
	width:184px !important;
	left:66px !important;
	top:546px !important;
	min-height:15px !important;
}

#item74220 {
	width:330px !important;
	left:396px !important;
	top:546px !important;
	min-height:15px !important;
}

#item461 {
	width:220px !important;
	height:398px !important;
	left:42px !important;
	top:107px !important;
	background:#ffffff;
}

#item672 {
	width:465px !important;
	height:398px !important;
	left:286px !important;
	top:107px !important;
	background:#cccccc;
}

#item424 {
	width:220px !important;
	left:42px !important;
	top:59px !important;
	min-height:36px !important;
}

#item481 {
	width:88px !important;
	left:66px !important;
	top:131px !important;
	min-height:15px !important;
}

#item507 {
	width:101px !important;
	left:66px !important;
	top:293px !important;
	min-height:15px !important;
}

#item532 {
	width:86px !important;
	left:84px !important;
	top:147px !important;
	min-height:123px !important;
}

#item557 {
	width:13px !important;
	left:66px !important;
	top:147px !important;
	min-height:123px !important;
}

#item127241 {
	width:130px !important;
	left:127px !important;
	top:444px !important;
	min-height:46px !important;
}

#item127214 {
	width:130px !important;
	left:127px !important;
	top:382px !important;
	min-height:46px !important;
}

#item18734 {
	width:130px !important;
	left:127px !important;
	top:320px !important;
	min-height:46px !important;
}

#item241658 {
	width:1920px !important;
	height:1080px !important;
	background:#f1f1f1;
}

#item240533 {
	width:179px !important;
	height:46px !important;
	left:1669px !important;
	top:72px !important;
	background:#cccccc;
}

#item234990 {
	width:1776px !important;
	height:72px !important;
	left:72px !important;
	top:936px !important;
	background:#fff;
}

#item262471 {
	width:343px !important;
	left:115px !important;
	top:965px !important;
	min-height:28px !important;
}

#item234991 {
	width:583px !important;
	left:1222px !important;
	top:966px !important;
	min-height:26px !important;
}

#item235016 {
	width:390px !important;
	height:731px !important;
	left:72px !important;
	top:162px !important;
	background:#ffffff;
}

#item235017 {
	width:1343px !important;
	height:731px !important;
	left:505px !important;
	top:162px !important;
	background:#cccccc;
}

#item235018 {
	width:388px !important;
	left:72px !important;
	top:72px !important;
	min-height:64px !important;
}

#item235043 {
	width:155px !important;
	left:115px !important;
	top:205px !important;
	min-height:26px !important;
}

#item235069 {
	width:179px !important;
	left:115px !important;
	top:491px !important;
	min-height:26px !important;
}

#item235094 {
	width:152px !important;
	left:148px !important;
	top:233px !important;
	min-height:217px !important;
}

#item235119 {
	width:23px !important;
	left:115px !important;
	top:233px !important;
	min-height:217px !important;
}

#item235154 {
	width:229px !important;
	left:224px !important;
	top:756px !important;
	min-height:81px !important;
}

#item235180 {
	width:229px !important;
	left:224px !important;
	top:647px !important;
	min-height:81px !important;
}

#item235206 {
	width:229px !important;
	left:224px !important;
	top:538px !important;
	min-height:81px !important;
}

#item250114 {
	width:375px !important;
	height:1069px !important;
	background:#f1f1f1;
}

#item242851 {
	width:583px !important;
	left:449px !important;
	top:960px !important;
	min-height:26px !important;
}

#item243131 {
	width:583px !important;
	left:452px !important;
	top:937px !important;
	min-height:26px !important;
}

#item242876 {
	width:390px !important;
	height:731px !important;
	left:-700px !important;
	top:156px !important;
	background:#ffffff;
}

#item249966 {
	width:343px !important;
	height:380px !important;
	left:16px !important;
	top:317px !important;
	background:#ffffff;
}

#item249964 {
	width:375px !important;
	height:211px !important;
	top:70px !important;
	background:#cdcecd;
}

#item242889 {
	width:388px !important;
	left:-700px !important;
	top:67px !important;
	min-height:64px !important;
}

#item242914 {
	width:155px !important;
	left:-657px !important;
	top:200px !important;
	min-height:26px !important;
}

#item242939 {
	width:179px !important;
	left:-657px !important;
	top:486px !important;
	min-height:26px !important;
}

#item242964 {
	width:152px !important;
	left:-625px !important;
	top:228px !important;
	min-height:217px !important;
}

#item242989 {
	width:23px !important;
	left:-657px !important;
	top:228px !important;
	min-height:217px !important;
}

#item243177 {
	width:375px !important;
	min-height:64px !important;
}

#item243668 {
	width:106px !important;
	left:105px !important;
	top:351px !important;
	min-height:43px !important;
}

#item243718 {
	width:106px !important;
	left:105px !important;
	top:447px !important;
	min-height:43px !important;
}

#item243768 {
	width:106px !important;
	left:105px !important;
	top:542px !important;
	min-height:43px !important;
}

#item243819 {
	width:103px !important;
	left:105px !important;
	top:381px !important;
	min-height:26px !important;
}

#item243869 {
	width:103px !important;
	left:105px !important;
	top:477px !important;
	min-height:26px !important;
}

#item243920 {
	width:153px !important;
	left:105px !important;
	top:572px !important;
	min-height:26px !important;
}

#item244124 {
	width:19px !important;
	left:54px !important;
	top:360px !important;
	min-height:48px !important;
}

#item244149 {
	width:19px !important;
	left:54px !important;
	top:551px !important;
	min-height:48px !important;
}

#item244174 {
	width:23px !important;
	left:52px !important;
	top:455px !important;
	min-height:48px !important;
}

#item243693 {
	width:106px !important;
	left:237px !important;
	top:619px !important;
	min-height:30px !important;
}

#item243794 {
	width:106px !important;
	left:237px !important;
	top:651px !important;
	min-height:30px !important;
}

#item243844 {
	width:103px !important;
	left:32px !important;
	top:619px !important;
	min-height:26px !important;
}

#item243945 {
	width:103px !important;
	left:32px !important;
	top:651px !important;
	min-height:26px !important;
}

#item243203 {
	width:155px !important;
	left:22px !important;
	top:829px !important;
	min-height:26px !important;
}

#item243330 {
	width:156px !important;
	left:198px !important;
	top:829px !important;
	min-height:26px !important;
}

#item243355 {
	width:155px !important;
	left:22px !important;
	top:985px !important;
	min-height:26px !important;
}

#item243380 {
	width:156px !important;
	left:197px !important;
	top:985px !important;
	min-height:26px !important;
}

#item243430 {
	width:155px !important;
	left:22px !important;
	top:847px !important;
	min-height:25px !important;
}

#item243555 {
	width:155px !important;
	left:198px !important;
	top:847px !important;
	min-height:25px !important;
}

#item243580 {
	width:155px !important;
	left:22px !important;
	top:1003px !important;
	min-height:25px !important;
}

#item243606 {
	width:156px !important;
	left:198px !important;
	top:1003px !important;
	min-height:25px !important;
}

#item243024 {
	width:229px !important;
	left:-548px !important;
	top:751px !important;
	min-height:81px !important;
}

#item243050 {
	width:229px !important;
	left:-548px !important;
	top:642px !important;
	min-height:81px !important;
}

#item243076 {
	width:229px !important;
	left:-548px !important;
	top:533px !important;
	min-height:81px !important;
}

#item23901 {
	width:792px !important;
	height:612px !important;
	background:#f1f1f1;
}

#item74599 {
	width:708px !important;
	height:41px !important;
	left:42px !important;
	top:529px !important;
	background:#fff;
}

#item262824 {
	width:184px !important;
	left:66px !important;
	top:546px !important;
	min-height:15px !important;
}

#item24354 {
	width:330px !important;
	left:396px !important;
	top:546px !important;
	min-height:15px !important;
}

#item13602 {
	width:464px !important;
	height:187px !important;
	left:42px !important;
	top:107px !important;
	background:#ffffff;
}

#item13603 {
	width:464px !important;
	height:187px !important;
	left:287px !important;
	top:318px !important;
	background:#ffffff;
}

#item13604 {
	width:221px !important;
	height:187px !important;
	left:529px !important;
	top:107px !important;
	background:#cccccc;
}

#item13605 {
	width:221px !important;
	height:187px !important;
	left:42px !important;
	top:318px !important;
	background:#cccccc;
}

#item13606 {
	width:220px !important;
	left:42px !important;
	top:59px !important;
	min-height:36px !important;
}

#item14219 {
	width:62px !important;
	left:66px !important;
	top:131px !important;
	min-height:15px !important;
}

#item233435 {
	width:62px !important;
	left:66px !important;
	top:149px !important;
	min-height:15px !important;
}

#item233460 {
	width:62px !important;
	left:66px !important;
	top:167px !important;
	min-height:15px !important;
}

#item233485 {
	width:62px !important;
	left:66px !important;
	top:185px !important;
	min-height:15px !important;
}

#item233510 {
	width:62px !important;
	left:66px !important;
	top:203px !important;
	min-height:15px !important;
}

#item233535 {
	width:62px !important;
	left:66px !important;
	top:221px !important;
	min-height:15px !important;
}

#item233560 {
	width:62px !important;
	left:66px !important;
	top:239px !important;
	min-height:15px !important;
}

#item233585 {
	width:62px !important;
	left:66px !important;
	top:257px !important;
	min-height:15px !important;
}

#item233610 {
	width:196px !important;
	left:66px !important;
	top:275px !important;
	min-height:11px !important;
}

#item14244 {
	width:134px !important;
	left:127px !important;
	top:131px !important;
	min-height:14px !important;
}

#item233198 {
	width:134px !important;
	left:127px !important;
	top:149px !important;
	min-height:14px !important;
}

#item233223 {
	width:134px !important;
	left:127px !important;
	top:167px !important;
	min-height:14px !important;
}

#item233248 {
	width:134px !important;
	left:127px !important;
	top:185px !important;
	min-height:14px !important;
}

#item233273 {
	width:134px !important;
	left:127px !important;
	top:203px !important;
	min-height:14px !important;
}

#item233298 {
	width:134px !important;
	left:127px !important;
	top:221px !important;
	min-height:14px !important;
}

#item233323 {
	width:134px !important;
	left:127px !important;
	top:239px !important;
	min-height:14px !important;
}

#item233348 {
	width:134px !important;
	left:127px !important;
	top:257px !important;
	min-height:14px !important;
}

#item14545 {
	width:416px !important;
	left:310px !important;
	top:342px !important;
	min-height:144px !important;
}

#item131971 {
	width:60px !important;
	left:327px !important;
	top:132px !important;
	min-height:24px !important;
}

#item233829 {
	width:60px !important;
	left:443px !important;
	top:132px !important;
	min-height:24px !important;
}

#item233729 {
	width:60px !important;
	left:327px !important;
	top:186px !important;
	min-height:24px !important;
}

#item233854 {
	width:60px !important;
	left:443px !important;
	top:186px !important;
	min-height:24px !important;
}

#item233779 {
	width:60px !important;
	left:327px !important;
	top:240px !important;
	min-height:24px !important;
}

#item233879 {
	width:60px !important;
	left:443px !important;
	top:240px !important;
	min-height:24px !important;
}

#item233644 {
	width:58px !important;
	left:327px !important;
	top:149px !important;
	min-height:15px !important;
}

#item233904 {
	width:58px !important;
	left:443px !important;
	top:149px !important;
	min-height:15px !important;
}

#item233754 {
	width:58px !important;
	left:327px !important;
	top:203px !important;
	min-height:15px !important;
}

#item233929 {
	width:58px !important;
	left:443px !important;
	top:203px !important;
	min-height:15px !important;
}

#item233804 {
	width:58px !important;
	left:327px !important;
	top:257px !important;
	min-height:15px !important;
}

#item233954 {
	width:58px !important;
	left:443px !important;
	top:257px !important;
	min-height:15px !important;
}

#item132499 {
	width:11px !important;
	left:298px !important;
	top:136px !important;
	min-height:27px !important;
}

#item132532 {
	width:11px !important;
	left:298px !important;
	top:244px !important;
	min-height:27px !important;
}

#item132582 {
	width:13px !important;
	left:297px !important;
	top:190px !important;
	min-height:27px !important;
}

#item132634 {
	width:13px !important;
	left:413px !important;
	top:190px !important;
	min-height:27px !important;
}

#item132504 {
	width:11px !important;
	left:414px !important;
	top:136px !important;
	min-height:27px !important;
}

#item132557 {
	width:11px !important;
	left:414px !important;
	top:244px !important;
	min-height:27px !important;
}

#item235261 {
	width:1776px !important;
	height:72px !important;
	left:72px !important;
	top:936px !important;
	background:#fff;
}

#item262445 {
	width:343px !important;
	left:115px !important;
	top:965px !important;
	min-height:28px !important;
}

#item235262 {
	width:583px !important;
	left:1222px !important;
	top:966px !important;
	min-height:26px !important;
}

#item235287 {
	width:990px !important;
	height:344px !important;
	left:72px !important;
	top:162px !important;
	background:#ffffff;
}

#item235288 {
	width:990px !important;
	height:344px !important;
	left:858px !important;
	top:549px !important;
	background:#ffffff;
}

#item235289 {
	width:743px !important;
	height:344px !important;
	left:1105px !important;
	top:162px !important;
	background:#cccccc;
}

#item241778 {
	width:743px !important;
	height:344px !important;
	left:72px !important;
	top:549px !important;
	background:#cccccc;
}

#item235291 {
	width:388px !important;
	left:72px !important;
	top:72px !important;
	min-height:64px !important;
}

#item235316 {
	width:109px !important;
	left:115px !important;
	top:205px !important;
	min-height:26px !important;
}

#item235341 {
	width:109px !important;
	left:115px !important;
	top:237px !important;
	min-height:26px !important;
}

#item235366 {
	width:109px !important;
	left:115px !important;
	top:268px !important;
	min-height:26px !important;
}

#item235391 {
	width:109px !important;
	left:115px !important;
	top:300px !important;
	min-height:26px !important;
}

#item235416 {
	width:109px !important;
	left:115px !important;
	top:332px !important;
	min-height:26px !important;
}

#item235441 {
	width:109px !important;
	left:115px !important;
	top:364px !important;
	min-height:26px !important;
}

#item235467 {
	width:109px !important;
	left:115px !important;
	top:395px !important;
	min-height:26px !important;
}

#item235492 {
	width:109px !important;
	left:115px !important;
	top:427px !important;
	min-height:26px !important;
}

#item235517 {
	width:346px !important;
	left:116px !important;
	top:459px !important;
	min-height:19px !important;
}

#item235542 {
	width:237px !important;
	left:292px !important;
	top:205px !important;
	min-height:25px !important;
}

#item235567 {
	width:237px !important;
	left:292px !important;
	top:237px !important;
	min-height:25px !important;
}

#item235592 {
	width:237px !important;
	left:292px !important;
	top:268px !important;
	min-height:25px !important;
}

#item235617 {
	width:237px !important;
	left:292px !important;
	top:300px !important;
	min-height:25px !important;
}

#item235642 {
	width:237px !important;
	left:292px !important;
	top:332px !important;
	min-height:25px !important;
}

#item235667 {
	width:237px !important;
	left:292px !important;
	top:364px !important;
	min-height:25px !important;
}

#item235693 {
	width:237px !important;
	left:292px !important;
	top:395px !important;
	min-height:25px !important;
}

#item235718 {
	width:237px !important;
	left:292px !important;
	top:427px !important;
	min-height:25px !important;
}

#item235743 {
	width:904px !important;
	left:901px !important;
	top:592px !important;
	min-height:265px !important;
}

#item235780 {
	width:106px !important;
	left:644px !important;
	top:204px !important;
	min-height:43px !important;
}

#item235805 {
	width:106px !important;
	left:912px !important;
	top:204px !important;
	min-height:43px !important;
}

#item235830 {
	width:106px !important;
	left:644px !important;
	top:300px !important;
	min-height:43px !important;
}

#item235855 {
	width:106px !important;
	left:912px !important;
	top:300px !important;
	min-height:43px !important;
}

#item235880 {
	width:106px !important;
	left:644px !important;
	top:395px !important;
	min-height:43px !important;
}

#item235905 {
	width:106px !important;
	left:912px !important;
	top:395px !important;
	min-height:43px !important;
}

#item235930 {
	width:103px !important;
	left:644px !important;
	top:234px !important;
	min-height:26px !important;
}

#item235955 {
	width:103px !important;
	left:912px !important;
	top:234px !important;
	min-height:26px !important;
}

#item235980 {
	width:103px !important;
	left:644px !important;
	top:330px !important;
	min-height:26px !important;
}

#item236005 {
	width:103px !important;
	left:912px !important;
	top:330px !important;
	min-height:26px !important;
}

#item236030 {
	width:153px !important;
	left:644px !important;
	top:425px !important;
	min-height:26px !important;
}

#item236055 {
	width:103px !important;
	left:912px !important;
	top:425px !important;
	min-height:26px !important;
}

#item236236 {
	width:19px !important;
	left:594px !important;
	top:213px !important;
	min-height:48px !important;
}

#item236261 {
	width:19px !important;
	left:594px !important;
	top:404px !important;
	min-height:48px !important;
}

#item236286 {
	width:23px !important;
	left:592px !important;
	top:308px !important;
	min-height:48px !important;
}

#item236311 {
	width:23px !important;
	left:860px !important;
	top:308px !important;
	min-height:48px !important;
}

#item236336 {
	width:19px !important;
	left:862px !important;
	top:213px !important;
	min-height:48px !important;
}

#item236361 {
	width:19px !important;
	left:862px !important;
	top:404px !important;
	min-height:48px !important;
}

#item250287 {
	width:375px !important;
	height:971px !important;
	background:#f1f1f1;
}

#item244304 {
	width:583px !important;
	left:454px !important;
	top:875px !important;
	min-height:26px !important;
}

#item243156 {
	width:990px !important;
	height:344px !important;
	left:-1013px !important;
	top:114px !important;
	background:#ffffff;
}

#item243157 {
	width:990px !important;
	height:344px !important;
	left:454px !important;
	top:492px !important;
	background:#ffffff;
}

#item250285 {
	width:343px !important;
	height:288px !important;
	left:16px !important;
	top:317px !important;
	background:#ffffff;
}

#item250283 {
	width:375px !important;
	height:211px !important;
	top:70px !important;
	background:#cdcecd;
}

#item243229 {
	width:109px !important;
	left:-970px !important;
	top:189px !important;
	min-height:26px !important;
}

#item243255 {
	width:109px !important;
	left:-970px !important;
	top:221px !important;
	min-height:26px !important;
}

#item243280 {
	width:109px !important;
	left:-970px !important;
	top:253px !important;
	min-height:26px !important;
}

#item243305 {
	width:109px !important;
	left:-970px !important;
	top:285px !important;
	min-height:26px !important;
}

#item243405 {
	width:346px !important;
	left:-969px !important;
	top:412px !important;
	min-height:19px !important;
}

#item243455 {
	width:237px !important;
	left:-794px !important;
	top:189px !important;
	min-height:25px !important;
}

#item243480 {
	width:237px !important;
	left:-794px !important;
	top:221px !important;
	min-height:25px !important;
}

#item243505 {
	width:237px !important;
	left:-794px !important;
	top:253px !important;
	min-height:25px !important;
}

#item243530 {
	width:237px !important;
	left:-794px !important;
	top:285px !important;
	min-height:25px !important;
}

#item243631 {
	width:904px !important;
	left:497px !important;
	top:536px !important;
	min-height:265px !important;
}

#item243743 {
	width:106px !important;
	left:-173px !important;
	top:253px !important;
	min-height:43px !important;
}

#item243894 {
	width:103px !important;
	left:-173px !important;
	top:283px !important;
	min-height:26px !important;
}

#item244199 {
	width:23px !important;
	left:-225px !important;
	top:261px !important;
	min-height:48px !important;
}

#item244224 {
	width:19px !important;
	left:-223px !important;
	top:166px !important;
	min-height:48px !important;
}

#item244250 {
	width:19px !important;
	left:-223px !important;
	top:357px !important;
	min-height:48px !important;
}

#item244349 {
	width:375px !important;
	min-height:64px !important;
}

#item250374 {
	width:19px !important;
	left:54px !important;
	top:360px !important;
	min-height:48px !important;
}

#item250424 {
	width:23px !important;
	left:52px !important;
	top:455px !important;
	min-height:48px !important;
}

#item244374 {
	width:158px !important;
	left:105px !important;
	top:381px !important;
	min-height:26px !important;
}

#item244626 {
	width:158px !important;
	left:105px !important;
	top:477px !important;
	min-height:26px !important;
}

#item244676 {
	width:158px !important;
	left:32px !important;
	top:528px !important;
	min-height:26px !important;
}

#item244726 {
	width:158px !important;
	left:32px !important;
	top:559px !important;
	min-height:26px !important;
}

#item244820 {
	width:237px !important;
	left:105px !important;
	top:351px !important;
	min-height:43px !important;
}

#item245071 {
	width:237px !important;
	left:105px !important;
	top:447px !important;
	min-height:43px !important;
}

#item245122 {
	width:237px !important;
	left:106px !important;
	top:528px !important;
	min-height:25px !important;
}

#item245172 {
	width:237px !important;
	left:106px !important;
	top:559px !important;
	min-height:25px !important;
}

#item244550 {
	width:155px !important;
	left:22px !important;
	top:731px !important;
	min-height:26px !important;
}

#item244651 {
	width:155px !important;
	left:198px !important;
	top:731px !important;
	min-height:26px !important;
}

#item244701 {
	width:155px !important;
	left:22px !important;
	top:887px !important;
	min-height:26px !important;
}

#item244751 {
	width:156px !important;
	left:198px !important;
	top:887px !important;
	min-height:26px !important;
}

#item244995 {
	width:155px !important;
	left:22px !important;
	top:749px !important;
	min-height:25px !important;
}

#item245097 {
	width:155px !important;
	left:198px !important;
	top:749px !important;
	min-height:25px !important;
}

#item245147 {
	width:155px !important;
	left:22px !important;
	top:905px !important;
	min-height:25px !important;
}

#item245197 {
	width:155px !important;
	left:198px !important;
	top:905px !important;
	min-height:25px !important;
}

#item23903 {
	width:792px !important;
	height:612px !important;
	background:#f1f1f1;
}

#item74605 {
	width:708px !important;
	height:41px !important;
	left:42px !important;
	top:529px !important;
	background:#fff;
}

#item262799 {
	width:184px !important;
	left:66px !important;
	top:546px !important;
	min-height:15px !important;
}

#item24383 {
	width:330px !important;
	left:396px !important;
	top:546px !important;
	min-height:15px !important;
}

#item3347 {
	width:464px !important;
	height:187px !important;
	left:42px !important;
	top:107px !important;
	background:#ffffff;
}

#item3348 {
	width:464px !important;
	height:187px !important;
	left:287px !important;
	top:318px !important;
	background:#ffffff;
}

#item3349 {
	width:221px !important;
	height:187px !important;
	left:529px !important;
	top:107px !important;
	background:#cccccc;
}

#item3350 {
	width:221px !important;
	height:187px !important;
	left:42px !important;
	top:318px !important;
	background:#cccccc;
}

#item3352 {
	width:220px !important;
	left:42px !important;
	top:59px !important;
	min-height:36px !important;
}

#item14348 {
	width:89px !important;
	left:66px !important;
	top:131px !important;
	min-height:15px !important;
}

#item234616 {
	width:89px !important;
	left:285px !important;
	top:131px !important;
	min-height:15px !important;
}

#item234440 {
	width:89px !important;
	left:66px !important;
	top:149px !important;
	min-height:15px !important;
}

#item234641 {
	width:89px !important;
	left:285px !important;
	top:149px !important;
	min-height:15px !important;
}

#item234465 {
	width:89px !important;
	left:66px !important;
	top:167px !important;
	min-height:15px !important;
}

#item234666 {
	width:89px !important;
	left:285px !important;
	top:167px !important;
	min-height:15px !important;
}

#item234490 {
	width:89px !important;
	left:66px !important;
	top:185px !important;
	min-height:15px !important;
}

#item234691 {
	width:89px !important;
	left:285px !important;
	top:185px !important;
	min-height:15px !important;
}

#item234515 {
	width:89px !important;
	left:66px !important;
	top:203px !important;
	min-height:15px !important;
}

#item234717 {
	width:89px !important;
	left:285px !important;
	top:203px !important;
	min-height:15px !important;
}

#item234540 {
	width:89px !important;
	left:66px !important;
	top:221px !important;
	min-height:15px !important;
}

#item234742 {
	width:89px !important;
	left:285px !important;
	top:221px !important;
	min-height:15px !important;
}

#item234566 {
	width:89px !important;
	left:66px !important;
	top:239px !important;
	min-height:15px !important;
}

#item234767 {
	width:89px !important;
	left:285px !important;
	top:239px !important;
	min-height:15px !important;
}

#item234591 {
	width:89px !important;
	left:66px !important;
	top:257px !important;
	min-height:15px !important;
}

#item234792 {
	width:89px !important;
	left:285px !important;
	top:257px !important;
	min-height:15px !important;
}

#item24498 {
	width:416px !important;
	left:310px !important;
	top:342px !important;
	min-height:144px !important;
}

#item233995 {
	width:134px !important;
	left:127px !important;
	top:131px !important;
	min-height:14px !important;
}

#item234195 {
	width:134px !important;
	left:347px !important;
	top:131px !important;
	min-height:14px !important;
}

#item234020 {
	width:134px !important;
	left:127px !important;
	top:149px !important;
	min-height:14px !important;
}

#item234220 {
	width:134px !important;
	left:347px !important;
	top:149px !important;
	min-height:14px !important;
}

#item234045 {
	width:134px !important;
	left:127px !important;
	top:167px !important;
	min-height:14px !important;
}

#item234245 {
	width:134px !important;
	left:347px !important;
	top:167px !important;
	min-height:14px !important;
}

#item234070 {
	width:134px !important;
	left:127px !important;
	top:185px !important;
	min-height:14px !important;
}

#item234270 {
	width:134px !important;
	left:347px !important;
	top:185px !important;
	min-height:14px !important;
}

#item234095 {
	width:134px !important;
	left:127px !important;
	top:203px !important;
	min-height:14px !important;
}

#item234295 {
	width:134px !important;
	left:347px !important;
	top:203px !important;
	min-height:14px !important;
}

#item234120 {
	width:134px !important;
	left:127px !important;
	top:221px !important;
	min-height:14px !important;
}

#item234320 {
	width:134px !important;
	left:347px !important;
	top:221px !important;
	min-height:14px !important;
}

#item234145 {
	width:134px !important;
	left:127px !important;
	top:239px !important;
	min-height:14px !important;
}

#item234346 {
	width:134px !important;
	left:347px !important;
	top:239px !important;
	min-height:14px !important;
}

#item234170 {
	width:134px !important;
	left:127px !important;
	top:257px !important;
	min-height:14px !important;
}

#item234371 {
	width:134px !important;
	left:347px !important;
	top:257px !important;
	min-height:14px !important;
}

#item234817 {
	width:196px !important;
	left:66px !important;
	top:275px !important;
	min-height:11px !important;
}

#item236417 {
	width:1776px !important;
	height:72px !important;
	left:72px !important;
	top:936px !important;
	background:#fff;
}

#item262418 {
	width:343px !important;
	left:115px !important;
	top:965px !important;
	min-height:28px !important;
}

#item236418 {
	width:583px !important;
	left:1222px !important;
	top:966px !important;
	min-height:26px !important;
}

#item236443 {
	width:990px !important;
	height:344px !important;
	left:72px !important;
	top:162px !important;
	background:#ffffff;
}

#item241834 {
	width:990px !important;
	height:344px !important;
	left:858px !important;
	top:549px !important;
	background:#ffffff;
}

#item236445 {
	width:743px !important;
	height:344px !important;
	left:1105px !important;
	top:162px !important;
	background:#cccccc;
}

#item241832 {
	width:743px !important;
	height:344px !important;
	left:72px !important;
	top:549px !important;
	background:#cccccc;
}

#item236447 {
	width:388px !important;
	left:72px !important;
	top:72px !important;
	min-height:64px !important;
}

#item236473 {
	width:158px !important;
	left:115px !important;
	top:205px !important;
	min-height:26px !important;
}

#item236498 {
	width:158px !important;
	left:589px !important;
	top:205px !important;
	min-height:26px !important;
}

#item236523 {
	width:158px !important;
	left:115px !important;
	top:237px !important;
	min-height:26px !important;
}

#item236548 {
	width:158px !important;
	left:589px !important;
	top:237px !important;
	min-height:26px !important;
}

#item236573 {
	width:158px !important;
	left:115px !important;
	top:268px !important;
	min-height:26px !important;
}

#item236598 {
	width:158px !important;
	left:589px !important;
	top:268px !important;
	min-height:26px !important;
}

#item236623 {
	width:158px !important;
	left:115px !important;
	top:300px !important;
	min-height:26px !important;
}

#item236648 {
	width:158px !important;
	left:589px !important;
	top:300px !important;
	min-height:26px !important;
}

#item236673 {
	width:158px !important;
	left:115px !important;
	top:332px !important;
	min-height:26px !important;
}

#item236698 {
	width:158px !important;
	left:589px !important;
	top:332px !important;
	min-height:26px !important;
}

#item236723 {
	width:158px !important;
	left:115px !important;
	top:364px !important;
	min-height:26px !important;
}

#item236749 {
	width:158px !important;
	left:589px !important;
	top:364px !important;
	min-height:26px !important;
}

#item236774 {
	width:158px !important;
	left:115px !important;
	top:395px !important;
	min-height:26px !important;
}

#item236799 {
	width:158px !important;
	left:589px !important;
	top:395px !important;
	min-height:26px !important;
}

#item236824 {
	width:158px !important;
	left:115px !important;
	top:427px !important;
	min-height:26px !important;
}

#item236849 {
	width:158px !important;
	left:589px !important;
	top:427px !important;
	min-height:26px !important;
}

#item236919 {
	width:904px !important;
	left:901px !important;
	top:592px !important;
	min-height:265px !important;
}

#item236944 {
	width:237px !important;
	left:308px !important;
	top:205px !important;
	min-height:25px !important;
}

#item236969 {
	width:237px !important;
	left:782px !important;
	top:205px !important;
	min-height:25px !important;
}

#item236994 {
	width:237px !important;
	left:308px !important;
	top:237px !important;
	min-height:25px !important;
}

#item237019 {
	width:237px !important;
	left:782px !important;
	top:237px !important;
	min-height:25px !important;
}

#item237044 {
	width:237px !important;
	left:308px !important;
	top:268px !important;
	min-height:25px !important;
}

#item237069 {
	width:237px !important;
	left:782px !important;
	top:268px !important;
	min-height:25px !important;
}

#item237094 {
	width:237px !important;
	left:308px !important;
	top:300px !important;
	min-height:25px !important;
}

#item237120 {
	width:237px !important;
	left:782px !important;
	top:300px !important;
	min-height:25px !important;
}

#item237145 {
	width:237px !important;
	left:308px !important;
	top:332px !important;
	min-height:25px !important;
}

#item237170 {
	width:237px !important;
	left:782px !important;
	top:332px !important;
	min-height:25px !important;
}

#item237195 {
	width:237px !important;
	left:308px !important;
	top:364px !important;
	min-height:25px !important;
}

#item237221 {
	width:237px !important;
	left:782px !important;
	top:364px !important;
	min-height:25px !important;
}

#item237246 {
	width:237px !important;
	left:308px !important;
	top:395px !important;
	min-height:25px !important;
}

#item237271 {
	width:237px !important;
	left:782px !important;
	top:395px !important;
	min-height:25px !important;
}

#item237296 {
	width:237px !important;
	left:308px !important;
	top:427px !important;
	min-height:25px !important;
}

#item237321 {
	width:237px !important;
	left:782px !important;
	top:427px !important;
	min-height:25px !important;
}

#item237346 {
	width:346px !important;
	left:115px !important;
	top:459px !important;
	min-height:19px !important;
}

#item250587 {
	width:375px !important;
	height:582px !important;
	background:#f1f1f1;
}

#item244329 {
	width:990px !important;
	height:344px !important;
	left:-1058px !important;
	top:-102px !important;
	background:#ffffff;
}

#item244330 {
	width:990px !important;
	height:344px !important;
	left:396px !important;
	top:210px !important;
	background:#ffffff;
}

#item250580 {
	width:375px !important;
	height:211px !important;
	top:70px !important;
	background:#cdcecd;
}

#item250585 {
	width:375px !important;
	height:211px !important;
	top:317px !important;
	background:#cdcecd;
}

#item244399 {
	width:158px !important;
	left:-542px !important;
	top:-59px !important;
	min-height:26px !important;
}

#item244424 {
	width:158px !important;
	left:-1015px !important;
	top:-27px !important;
	min-height:26px !important;
}

#item244450 {
	width:158px !important;
	left:-542px !important;
	top:-27px !important;
	min-height:26px !important;
}

#item244475 {
	width:158px !important;
	left:-1015px !important;
	top:5px !important;
	min-height:26px !important;
}

#item244500 {
	width:158px !important;
	left:-542px !important;
	top:5px !important;
	min-height:26px !important;
}

#item244525 {
	width:158px !important;
	left:-1015px !important;
	top:36px !important;
	min-height:26px !important;
}

#item244576 {
	width:158px !important;
	left:-1015px !important;
	top:68px !important;
	min-height:26px !important;
}

#item244601 {
	width:158px !important;
	left:-542px !important;
	top:68px !important;
	min-height:26px !important;
}

#item244795 {
	width:904px !important;
	left:440px !important;
	top:253px !important;
	min-height:265px !important;
}

#item244845 {
	width:237px !important;
	left:-348px !important;
	top:-59px !important;
	min-height:25px !important;
}

#item244870 {
	width:237px !important;
	left:-822px !important;
	top:-27px !important;
	min-height:25px !important;
}

#item244895 {
	width:237px !important;
	left:-348px !important;
	top:-27px !important;
	min-height:25px !important;
}

#item244920 {
	width:237px !important;
	left:-822px !important;
	top:5px !important;
	min-height:25px !important;
}

#item244945 {
	width:237px !important;
	left:-348px !important;
	top:5px !important;
	min-height:25px !important;
}

#item244970 {
	width:237px !important;
	left:-822px !important;
	top:36px !important;
	min-height:25px !important;
}

#item245020 {
	width:237px !important;
	left:-822px !important;
	top:68px !important;
	min-height:25px !important;
}

#item245045 {
	width:237px !important;
	left:-348px !important;
	top:68px !important;
	min-height:25px !important;
}

#item245222 {
	width:346px !important;
	left:-1015px !important;
	top:195px !important;
	min-height:19px !important;
}

#item245310 {
	width:375px !important;
	min-height:64px !important;
}

[class*=" mq-"]{ display:none; }
.mq-default { display:block; }
@media all and (max-width:952px){ [class*=" mq-"], .mq-default { display:none; } .mq-792 {display:block; } }
@media all and (max-width:505px){ [class*=" mq-"], .mq-default { display:none; } .mq-375 {display:block; } }

